<form method="post" action="/new">
  <label for="name"> Puppy Name</label>
  <p><input type="text" id="name" name="name"></p>
  <label for="breed"> Puppy Breed</label>
  <p><input type="text" id="breed" name="breed"></p>
  <label for="age"> Puppy Age</label>
  <p><input type="text" id="age" name="age"></p>
  <br>
  <input type="submit" id="submit">Submit</input>
</form>
